/* This file is linked to index.html */
#recipeList {
    color: white;
    background-color: red;
}
.steps {
    color: blueviolet;
    background-color: gray;
}
.Ingredients {
    color: gray;
    background-color: black;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}